Repository rada-network/nft4charity, pull requests merged in 2021-11, with the labels that each got.

#78 feat: update animation spinner loading component
  frontend/src/components/Elements/Spinner/Spinner.tsx
  frontend/src/features/campaigns/routes/Campaigns.tsx
  frontend/src/features/donate/routes/Donate.tsx
Labels: frontend

#75 feat: build wallet for campaign, chose token, add test
  frontend/src/hooks/useWeb3Modal.ts
  frontend/tsconfig.json
  smartcontract/contracts/AltToken.sol
  smartcontract/contracts/RadaNFTToken.sol
  smartcontract/contracts/Store.sol
  smartcontract/howtorun.md
  smartcontract/migrations/1-deploy.js
  smartcontract/package-lock.json
  smartcontract/package.json
  smartcontract/test/simple_test.js
  smartcontract/truffle-config.js
Labels: smart-contract

#80 fix: tslint import-order frontend
  frontend/.vscode/extensions.json
  frontend/.vscode/settings.json
  frontend/src/components/Form/FormDrawer.tsx
  frontend/src/components/Layout/Header.tsx
  frontend/src/components/Notifications/Notifications.tsx
  frontend/src/features/auth/api/getUser.ts
  frontend/src/features/auth/api/login.ts
  frontend/src/features/auth/api/register.ts
  frontend/src/features/donate/routes/Donate.tsx
  frontend/src/features/users/components/UpdateProfile.tsx
  frontend/src/features/users/routes/Profile.tsx
  frontend/src/routes/index.tsx
Labels: FE

#81 Feature/frontend/connect wallet
  frontend/.eslintrc.js
  frontend/package.json
  frontend/src/components/Form/FormDrawer.tsx
  frontend/src/components/Layout/Header.tsx
  frontend/src/components/Notifications/Notifications.tsx
  frontend/src/features/auth/api/getUser.ts
  frontend/src/features/auth/api/login.ts
  frontend/src/features/auth/api/register.ts
  frontend/src/features/auth/types/index.ts
  frontend/src/features/donate/routes/Donate.tsx
  frontend/src/features/users/api/updateProfile.ts
  frontend/src/features/users/components/UpdateProfile.tsx
  frontend/src/features/users/routes/Profile.tsx
  frontend/src/features/users/types/index.ts
  frontend/src/graphql/apollo.ts
  frontend/src/hooks/useWeb3Modal.ts
  frontend/src/routes/index.tsx
  frontend/src/types/web3-token/index.d.ts
  frontend/yarn.lock
Labels: frontend

#73 Feat/setup authentication
  backend/.envexample
  backend/package.json
  backend/src/app.module.ts
  backend/src/common/enums/index.ts
  backend/src/common/enums/role.enum.ts
  backend/src/common/filters/http-exception.filter.ts
  backend/src/common/filters/index.ts
  backend/src/common/guards/auth.guard.ts
  backend/src/common/guards/index.ts
  backend/src/common/guards/localAuth.guard.ts
  backend/src/common/guards/role.guard.ts
  backend/src/common/index.ts
  backend/src/common/interceptors/error.interceptor.ts
  backend/src/common/interceptors/index.ts
  backend/src/common/interceptors/serialize.interceptor.ts
  backend/src/common/middlewares/auth.middleware.ts
  backend/src/common/middlewares/index.ts
  backend/src/config/graphql/index.ts
  backend/src/database/dbseed.ts
  backend/src/dtos/users/createUser.dto.ts
  backend/src/dtos/users/index.ts
  backend/src/dtos/users/updateUser.dto.ts
  backend/src/entities/user.entity.ts
  backend/src/entities/wallet.entity.ts
  backend/src/main.ts
  backend/src/resolvers/campaign.resolver.ts
  backend/src/resolvers/user.resolver.ts
  backend/src/resolvers/wallet.resolver.ts
Labels: enhancement, backend, user, auth

#85 Feature/front end show balance
  frontend/package.json
  frontend/src/components/Layout/Header.tsx
  frontend/src/graphql/apollo.ts
  frontend/src/hooks/useWeb3Modal.ts
  frontend/src/utils/format.ts
  frontend/tsconfig.json
  frontend/yarn.lock
Labels: frontend

#88 Feature/front end intergrate api campaigns
  frontend/package.json
  frontend/src/features/campaigns/routes/Campaigns.tsx
  frontend/yarn.lock
Labels: frontend

#89 feat/setup email verification
  backend/.envexample
  backend/package.json
  backend/src/app.module.ts
  backend/src/assets/index.ts
  backend/src/assets/templates/index.ts
  backend/src/assets/templates/mail/change-mail.ts
  backend/src/assets/templates/mail/index.ts
  backend/src/assets/templates/mail/verify-mail.ts
  backend/src/common/filters/http-exception.filter.ts
  backend/src/common/guards/auth.guard.ts
  backend/src/common/guards/role.guard.ts
  backend/src/common/middlewares/auth.middleware.ts
  backend/src/config/index.ts
  backend/src/config/logging/index.ts
  backend/src/config/mail/index.ts
  backend/src/config/typeorm/index.ts
  backend/src/database/dbseed.ts
  backend/src/dtos/campaigns/createCampaign.dto.ts
  backend/src/dtos/files/index.ts
  backend/src/dtos/index.ts
  backend/src/dtos/transactions/paginatedTransaction.dto.ts
  backend/src/dtos/wallets/createWallet.dto.ts
  backend/src/entities/user.entity.ts
  backend/src/environments/index.ts
  backend/src/main.ts
  backend/src/resolvers/campaign.resolver.ts
  backend/src/resolvers/index.ts
  backend/src/resolvers/mail.resolver.ts
  backend/src/resolvers/user.resolver.ts
  backend/src/resolvers/wallet.resolver.ts
  backend/src/services/file/file.controller.ts
  backend/src/services/file/file.module.ts
  backend/src/services/file/file.service.ts
  backend/src/services/file/index.ts
  backend/src/services/index.ts
  backend/src/services/mail/index.ts
  backend/src/services/mail/mail.controller.ts
  backend/src/services/mail/mail.module.ts
  backend/src/services/mail/mail.service.ts
  backend/src/utils/date/index.ts
  backend/src/utils/index.ts
  backend/test/app.e2e-spec.ts
  backend/test/auth.e2e-spec.ts
  backend/test/jest-e2e.json
  backend/test/setup.ts
Labels: backend

#90 Each campaign contract
  smartcontract/.gitignore
  smartcontract/.soliumignore
  smartcontract/.soliumrc.json
  smartcontract/contracts/CampaignNFT.sol
  smartcontract/contracts/RadaNFTToken.sol
  smartcontract/contracts/Store.sol
  smartcontract/note.txt
  smartcontract/test/simple_test.js
  smartcontract/truffle-config.js
Labels: smart-contract

#94 feat: update link from campaign screen to mint nft
  frontend/src/features/campaigns/routes/Campaigns.tsx
Labels: frontend

#96 Create nft campaign
  backend/.envexample
  backend/package.json
  backend/src/common/enums/campaign-type.enum.ts
  backend/src/common/enums/index.ts
  backend/src/config/mail/index.ts
  backend/src/database/campaignNftMetadata.seed.ts
  backend/src/database/utils.ts
  backend/src/entities/campaign-nft-metadate.entity.ts
  backend/src/entities/campaign.entity.ts
  backend/src/entities/index.ts
  backend/src/entities/user.entity.ts
  backend/src/environments/index.ts
  backend/src/resolvers/campaign-nft-metadata.resolver.ts
  backend/src/resolvers/campaign.resolver.ts
  backend/src/resolvers/index.ts
  backend/src/resolvers/user.resolver.ts
  backend/src/services/mail/mail.module.ts
Labels: backend, nft, campaign
